body{
  margin: 0;
  background: $cWhite;
}

section{
  position: relative;
  width: 100vw;
  height: 100vh;

  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: auto;
  }

  &:before{
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      background: #EDCBBF;
      background: #E0E2E2;
      width: 100vw;
      height: 100vh;
      border: 3vw solid $cWhite;
      box-sizing: border-box;
  }

}
